extends ../template

block title
  title Главная страница
block script-map
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")

  header.page-header
    nav.main-nav.main-nav--closed.main-nav--nojs
      .main-nav__wrapper
        a.main-nav__logo
          picture
            source(media="(min-width: 1200px)" srcset="assets/images/icons/logo-desktop.svg")
            source(media="(min-width: 768px)" srcset="assets/images/icons/logo-tablet.svg")
            img.logo__image(src="assets/images/icons/logo-mobile.svg" alt="Мишка")
        button.main-nav__toggle(type="button" title="Открыть/закрыть меню")
          span.visually-hidden Открыть/закрыть меню
        ul.main-nav__list.site-list
          li.site-list__item
            a.site-list__link(href="catalog.html") Каталог товаров
          li.site-list__item
            a.site-list__link(href="form.html") Вязание на заказ
          li.site-list__item.site-list__item--new-goods
            a.site-list__link(href="new-goods.html") Новые поступления
          li.site-list__item.site-list__item--sale
            a.site-list__link(href="sale.html") Распродажа
        ul.main-nav__list.user-list
          li.user-list__item.user-list__item--search
            a.user-list__link(href="#") Поиск по сайту
              svg.user-list__icon-search(width="18" height="19")
                use(xlink:href="#icon-search")
          li.user-list__item.user-list__item--basket
            a.user-list__link(href="basket.html") Корзина: пока пуста
              svg.user-list__icon-cart(width="21" height="18")
                use(xlink:href="#icon-cart")
          li.user-list__item.user-list__item--delivery
            a.user-list__link.user-list__link--delivery(href="#") Бесплатная доставка по России

block content
  main.page-main

    section.goods
      header.goods__header
        h2.content-title Милые штуки ручной работы&nbsp;для&nbsp;дома
      ul.goods__list
        li.goods__item
          a.goods__link.goods__link--bg--light(href="interior-items.html")
            span.goods__name Предметы интерьера
            svg.goods__icon.goods__icon--interior
              use(xlink:href="#icon-interior")
        li.goods__item
          a.goods__link.goods__link--bg--dark(href="toys.html")
            span.goods__name Детские игрушки
            svg.goods__icon.goods__icon--toy
              use(xlink:href="#icon-toy")

    article.offer
      .offer__wrapper
        h2.offer__title Вязаные корзинки
        h3.offer__type Товар недели
        section.offer__desc
          p.offer__text Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.
          table.offer__list
            tr.offer__list-row
              th.offer__property Цвет:
              td.offer__value «Тиффани»/серый:
            tr.offer__list-row
              th.offer__property Диаметр:
              td.offer__value 25 см
            tr.offer__list-row
              th.offer__property Высота:
              td.offer__value 15 см
        picture
          source(type="image/webp" media="(min-width: 1200px)"
                 srcset="assets/images/content/triple-set-desktop@1x.webp 1x, assets/images/content/triple-set-desktop@2x.webp 2x")
          source(type="image/webp" media="(min-width: 768px)"
                 srcset="assets/images/content/triple-set-tablet@1x.webp, assets/images/content/triple-set-tablet@2x.webp 2x")
          source(type="image/webp"
                 srcset="assets/images/content/triple-set-mobile@1x.webp, assets/images/content/triple-set-mobile@2x.webp 2x")

          source(media="(min-width: 1200px)"
                 srcset="assets/images/content/triple-set-desktop@1x.jpg 1x, assets/images/content/triple-set-desktop@2x.jpg 2x")
          source(media="(min-width: 768px)"
                 srcset="assets/images/content/triple-set-tablet@1x.jpg 1x, assets/images/content/triple-set-tablet@2x.jpg 2x")
          img.offer__picture(src="assets/images/content/triple-set-mobile@1x.jpg", srcset="assets/images/content/triple-set-mobile@2x.jpg 2x" alt="Вязанные корзинки: товар недели")
        .offer__buy
          b.offer__price Цена: 990 руб.
          a.offer__button.button.btn-modal(href="knitted-baskets.html") Заказать

    section.advantages
      .advantages__wrapper
        h2.advantages__title Коротко о нас:
        ul.advantages__list
          li.advantages__item.advantages__item--friendly Экологически чистые материалы
            svg.advantages__icon.advantages__icon--friendly(width="33" height="38")
              use(xlink:href="#icon-feature-flower")
          li.advantages__item.advantages__item--scandinavian-style Скандинавский стиль по российской цене
            svg.advantages__icon.advantages__icon--scandinavian-style(width="47" height="27")
              use(xlink:href="#icon-feature-money")
          li.advantages__item.advantages__item--popularity-increase Увеличивает лайки на фотографиях
            svg.advantages__icon.advantages__icon--popularity-increase(width="34" height="27")
              use(xlink:href="#icon-feature-heart")      
          li.advantages__item.advantages__item--hand-made Связано вручную с любовью и умилением
            svg.advantages__icon.advantages__icon--hand-made(width="35" height="34")
              use(xlink:href="#icon-feature-ball")          
          li.advantages__item.advantages__item--domestic-support Поддержка отечественного производителя
            svg.advantages__icon.advantages__icon--domestic-support(width="55" height="23")
              use(xlink:href="#icon-feature-rocket")
          li.advantages__item.advantages__item--gift-delivery Поставляется в подарочной упаковке
            svg.advantages__icon.advantages__icon--gift-delivery(width="33" height="32")
              use(xlink:href="#icon-feature-gift")
              
    section.reviews
      .reviews__wrapper.slider
        h2.reviews__title Отзывы
        .reviews__list
          blockquote.reviews__item
            p.reviews__text.
              Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!
            p.reviews__author
              cite.reviews__author-name Анастасия Красильникова
              span.reviews__author-nickname @misssssiskras
            .reviews__toggles
              a.reviews__toggle.reviews__toggle--prev(href="#") Предыдущий отзыв
              a.reviews__toggle.reviews__toggle--next(href="#") Следующий отзыв
        a.reviews__button.button(href="reviews.html") Написать

    section.contacts
      .contacts__wrapper
        h3.contacts__title Контакты
        .contacts__list
          .contacts__item
            span.contacts__type e-mail:
            a.contacts__value.contacts__link(href="mailto:info@mimimishkashop.ru") info@mimimishkashop.ru
          .contacts__item
            span.contacts__type адрес:
            p.contacts__value г.&nbsp;Санкт-Петербург, ул.&nbsp;Большая Конюшенная, д.19/8, офиc&nbsp;101
      .contacts__map
      a.contacts__button.button(href="feedbaack-form.html") Напишите нам

block footer
  footer.page-footer
    .page-footer__wrapper
      a.page-footer__logo
        svg.page-footer__logo-image(width="102" height="33")
          use(xlink:href="#icon-logo-footer")
      .page-footer__social.social
        ul.social__list
          li.social__item
            a.social__link.social-link--instagram(href="#")
              svg.social__icon.social__icon--instagram(width="22" height="21")
                use(xlink:href="#icon-insta")
          li.social__item
            a.social__link.social-link--facebook(href="#")
              svg.social__icon.social__icon--facebook(width="15" height="29")
                use(xlink:href="#icon-fb")
          li.social__item
            a.social__link.social-link--twitter(href="#")
              svg.social__icon.social__icon--twitter(width="24" height="20")
                use(xlink:href="#icon-twitter") 
      a.page-footer__copyright.copyright(href="https://htmlacademy.ru")
        b.copyright__text Разработано
        svg.copyright__icon(width="27" height="34")
          use(xlink:href="#icon-logo-htmlacademy")
    
  .overlay
    section.modal
      form.modal__form(action="#" method="post")
        h2.modal__title Добавить в корзину
        p.modal__choose Выберите размер:
        .modal__size-chart
          input.modal__input.visually-hidden(type="radio" id="size-S" name="size")
          label.modal__label(for="size-S") S
          input.modal__input.visually-hidden(type="radio" id="size-M" name="size")
          label.modal__label(for="size-M") M
          input.modal__input.visually-hidden(type="radio" id="size-L" name="size")
          label.modal__label(for="size-L") L
        button.button.modal__add.button--green(type="submit") Добавить